
<div class="row footer">
  
  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <p>Copyright © 2015 fisioterapiajesusbolivar.com</p>
    <br>
    <p>Dirección: <b>C/ Ignasi Ferretjans, 3</b></p>
    <br>
    <p>Contacto: <b>871930865</b></p>
  </div>
 
  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <img class="redes" src="assets/if_social-facebook_216078.png" alt="facebook">
    <img class="redes" src="assets/if_Twitter_Color_1435159.png" alt="twitter">
    <img class="redes" src="assets/if_40-google-plus_104464.png" alt="google">
    <br>
    <p id="designed">Designed by dpicode.com.</p>
    <br>
    <p id="privated">Privacidad y Protección de datos</p>
  </div>

</div>

