<div class="col">
  <h2 class="text-center">Editar Usuario</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nombre:</label>
      <input formControlName="name" placeholder="Nombre" name="name" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="lastname">Apellido:</label>
      <input formControlName="lastname" placeholder="Apellido" name="lastname" class="form-control" id="lastname" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email" required>
    </div>

    <div class="form-group">
      <label for="email">Teléfono:</label>
      <input type="movilephone" formControlName="movilephone" placeholder="Teléfono" name="movilephone" class="form-control" id="movilephone" required>
    </div>

    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-primary" [routerLink]="['/contacto-table']">Regresar</button>
  </form>
</div>

<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let user of userList;let i = index" class="list-group-item-action" (click)="openForEdit(user)" [ngClass]="{'mi-active':user == selectedUser}">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.movilephone}}</td>
      </tr>
     
    </tbody>
  </table>
</div> -->