<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let user of userList;let i = index" class="list-group-item-action" (click)="openForEdit(user)" [ngClass]="{'mi-active':user == selectedUser}">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.movilephone}}</td>
      </tr>
     
    </tbody>
  </table>
</div>