<!--SLIDER-->
<div class="row slider">
	<!--CAJA IMAGEN-->
	<div id="carouselExampleSlidesOnly " class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100" src="assets/fisioterapia-manual.jpg" alt="fisioterapia-manual">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="assets/centro-fisioterapia.jpg" alt="centro-fisioterapia">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="assets/fisioterapia.jpg" alt="paciente-fisioterapia">
			</div>
		</div>
	</div>
</div>
<!--CAJA TEXTO-->
<div class="slider-text">
	<h1>
		Si te dejas<br> en buenas manos, <br>tu <b>dolor</b> desaparecerá
	</h1>
</div>

<!--CAJA SERVICIOS PRINCIPALES-->
<div class="row services">
	<!--TÍTULO SERVICIOS-->
	<div class="services-title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h1>NUESTROS TRATAMIENTOS</h1>
	</div>
	<!--EJERCICIO TERAPEUTICO-->
	<div class="services-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
		<h2><u>Ejercicio Terapéutico</u> </h2>
		<img src="assets/ejercicio-terapeutico-detalle.jpg" alt="EJERCICIO TERAPEUTICO">
		<p>
			También conocido como <u><b>"reeducación postural" </b></u> o "control motor".
			Es el aprendizaje y la correcta ejecución de movimientos y posturas concretas para mejorar la conciencia
			corporal de la/s estructuras/s concretas
			(p. ej. región lumbopélvica) con el fin de mejorar la calidad del movimiento para así prevenir el dolor por
			una
			mala postura o un mal gesto.

		</p>
		<br>
		<button class="button btn btn-primary">Leer más</button>
	</div>
	<!--PUNCIÓN SECA-->
	<div class="services-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
		<h2><u>Punción Seca</u> </h2>
		<img src="assets/puncion-seca-detalle.jpg" alt="PUNCIÓN SECA">
		<p>
			La punción seca es una técnica muy efectiva en el tratamiento del dolor músculo-esquelético.
			Consiste en la aplicación de una fina aguja de en el foco del dolor (Punto Gatillo Miofascial o
			"contractura").
			La técnica es precisa, segura y provoca una respuesta de analgesia que se consigue estimulando los
			receptores
			musculares con la aguja.
			No se inyecta ninguna sustancia ni medicamento, de ahí el nombre de punción <b>seca</b>.
		</p>

		<button class="button btn btn-primary">Leer más</button>
	</div>
	<!--VENDAJE NEUROMUSCULAR-->
	<div class="services-text col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
		<h2><u>Vendaje Neuromuscular</u> </h2>
		<img src="assets/vendaje-neuromuscular-detalle.jpg" alt="VENDAJE NEUROMUSCULAR">
		<p>
			Llamado también <b>kinesiotaping</b>. Su mecanismo de actuación se explica mediante la activación de los
			propioceptores locales,
			lo cual ayuda a aliviar el dolor y mejorar la calidad del movimiento. Se utiliza para regular el tono
			muscular,
			para mejorar
			la circulación y así favorecer la reabsorción de hematomas o edemas. La aplicación del vendaje es específica
			y
			puede variar
			(lugar, forma, tensión, dirección y sentido) según el criterio del fisioterapeuta para potenciar el efecto.
		</p>

		<button class="button btn btn-primary">Leer más</button>
	</div>
</div>


